*.class
target/
.project
.settings/
.classpath
.idea/
*.iml

/code.style.schemes.xml
/colors.scheme.xml
/databaseSettings.xml
/editor.codeinsight.xml
/editor.xml
/ignore.xml
/multimarkdown.shared.xml
/debugger.renderers.xml
/baseRefactoring.xml
/lombok.xml
/ide.general.xml
/diff.xml
/IntelliLang.xml
/find.xml
/gutter.xml
/databaseDrivers.xml
/filetypes.xml
/debugger.xml
/markdown_navigator.shared.xml
/mavenVersion.xml
/vcs.xml
/web-browsers.xml
/toStringTemplates.xml
/ui.lnf.xml
/logsupport/
/tools/
/inspection/
/colors/
/_mac/
/codestyles/
