<application>
  <component name="LogSupport">
    <option name="frameworks">
      <list>
        <LogFramework>
          <option name="logMessageFormatType" value="custom" />
          <option name="logMessagesCanUsePlaceholders" value="true" />
          <option name="loggerClass" value="org.slf4j.Logger" />
          <option name="loggerFactoryMethod" value="org.slf4j.LoggerFactory.getLogger(%s.class)" />
          <option name="name" value="slf4j" />
          <option name="placeholderCustomFormat" value="\{\}" />
        </LogFramework>
        <LogFramework>
          <option name="logMessageFormatType" value="custom" />
          <option name="logMessagesCanUsePlaceholders" value="true" />
          <option name="loggerClass" value="org.slf4j.XLogger" />
          <option name="loggerFactoryMethod" value="org.slf4j.XLoggerFactory.getXLogger(%s.class)" />
          <option name="name" value="slf4j-xlogger" />
          <option name="placeholderCustomFormat" value="\{\}" />
        </LogFramework>
        <LogFramework>
          <option name="defaultLoggerFieldName" value="LOG" />
          <option name="enabledGetterMethod">
            <map>
              <entry key="trace" value="isTraceEnabled" />
              <entry key="debug" value="isDebugEnabled" />
              <entry key="info" value="isInfoEnabled" />
            </map>
          </option>
          <option name="logMessageFormatType" value="printf" />
          <option name="logMessagesCanUsePlaceholders" value="true" />
          <option name="logMethod">
            <map>
              <entry key="trace" value="tracef" />
              <entry key="debug" value="debugf" />
              <entry key="info" value="infof" />
              <entry key="warn" value="warnf" />
              <entry key="error" value="errorf" />
            </map>
          </option>
          <option name="loggerClass" value="org.jboss.logging.BasicLogger" />
          <option name="loggerFactoryMethod" value="org.jboss.logging.Logger.getLogger(%s.class)" />
          <option name="name" value="jboss-logging-printf" />
          <option name="placeholdersCanBeUsedWithThrowables" value="true" />
        </LogFramework>
        <LogFramework>
          <option name="defaultLoggerFieldName" value="LOG" />
          <option name="enabledGetterMethod">
            <map>
              <entry key="trace" value="isTraceEnabled" />
              <entry key="debug" value="isDebugEnabled" />
              <entry key="info" value="isInfoEnabled" />
            </map>
          </option>
          <option name="logMessageFormatType" value="messageformat" />
          <option name="logMessagesCanUsePlaceholders" value="true" />
          <option name="logMethod">
            <map>
              <entry key="trace" value="tracev" />
              <entry key="debug" value="debugv" />
              <entry key="info" value="infov" />
              <entry key="warn" value="warnv" />
              <entry key="error" value="errorv" />
            </map>
          </option>
          <option name="loggerClass" value="org.jboss.logging.BasicLogger" />
          <option name="loggerFactoryMethod" value="org.jboss.logging.Logger.getLogger(%s.class)" />
          <option name="name" value="jboss-logging-mf" />
          <option name="placeholdersCanBeUsedWithThrowables" value="true" />
        </LogFramework>
        <LogFramework>
          <option name="enabledGetterMethod">
            <map>
              <entry key="trace" value="isTraceEnabled" />
              <entry key="debug" value="isDebugEnabled" />
              <entry key="info" value="isInfoEnabled" />
            </map>
          </option>
          <option name="loggerClass" value="org.apache.log4j.Logger" />
          <option name="loggerFactoryMethod" value="org.apache.log4j.Logger.getLogger(%s.class)" />
          <option name="name" value="log4j-1.2" />
        </LogFramework>
        <LogFramework>
          <option name="defaultLoggerFieldName" value="" />
          <option name="enabledGetterMethod">
            <map>
              <entry key="trace" value="isLoggable(&quot;MyTag&quot;, android.util.Log.VERBOSE)" />
              <entry key="debug" value="isLoggable(&quot;MyTag&quot;, android.util.Log.DEBUG)" />
              <entry key="info" value="isLoggable(&quot;MyTag&quot;, android.util.Log.INFO)" />
              <entry key="warn" value="isLoggable(&quot;MyTag&quot;, android.util.Log.WARN)" />
              <entry key="error" value="isLoggable(&quot;MyTag&quot;, android.util.Log.ERROR)" />
            </map>
          </option>
          <option name="logMethod">
            <map>
              <entry key="trace" value="v(&quot;MyTag&quot;, " />
              <entry key="debug" value="d(&quot;MyTag&quot;, " />
              <entry key="info" value="i(&quot;MyTag&quot;, " />
              <entry key="warn" value="w(&quot;MyTag&quot;, " />
              <entry key="error" value="e(&quot;MyTag&quot;, " />
            </map>
          </option>
          <option name="logMethodsAreStatic" value="true" />
          <option name="loggerClass" value="android.util.Log" />
          <option name="loggerFactoryMethod" value="" />
          <option name="name" value="android-util-log" />
        </LogFramework>
        <LogFramework>
          <option name="defaultLoggerFieldName" value="logger" />
          <option name="enabledGetterMethod">
            <map>
              <entry key="trace" value="isLoggable(java.util.logging.Level.FINER)" />
              <entry key="debug" value="isLoggable(java.util.logging.Level.FINE)" />
              <entry key="info" value="isLoggable(java.util.logging.Level.INFO)" />
              <entry key="warn" value="isLoggable(java.util.logging.Level.WARNING)" />
              <entry key="error" value="isLoggable(java.util.logging.Level.SEVERE)" />
            </map>
          </option>
          <option name="logMessageFormatType" value="messageformat" />
          <option name="logMessagesCanUsePlaceholders" value="true" />
          <option name="logMethod">
            <map>
              <entry key="trace" value="log(java.util.logging.Level.FINER, " />
              <entry key="debug" value="log(java.util.logging.Level.FINE, " />
              <entry key="info" value="log(java.util.logging.Level.INFO, " />
              <entry key="warn" value="log(java.util.logging.Level.WARNING, " />
              <entry key="error" value="log(java.util.logging.Level.SEVERE, " />
            </map>
          </option>
          <option name="loggerClass" value="java.util.logging.Logger" />
          <option name="loggerFactoryMethod" value="java.util.logging.Logger.getLogger(%s.class.getName())" />
          <option name="name" value="java-util-logging" />
          <option name="placeholdersCanBeUsedWithThrowables" value="true" />
        </LogFramework>
        <LogFramework>
          <option name="loggerClass" value="org.apache.commons.logging.Log" />
          <option name="loggerFactoryMethod" value="org.apache.commons.logging.LogFactory.getLog(%s.class)" />
          <option name="name" value="commons-log" />
        </LogFramework>
        <LogFramework>
          <option name="logMessageFormatType" value="custom" />
          <option name="logMessagesCanUsePlaceholders" value="true" />
          <option name="loggerClass" value="org.slf4j.Logger" />
          <option name="loggerFactoryMethod" value="org.slf4j.LoggerFactory.getLogger(%s.class)" />
          <option name="name" value="slf4j" />
          <option name="placeholderCustomFormat" value="\{\}" />
        </LogFramework>
        <LogFramework>
          <option name="defaultLoggerFieldName" value="LOG" />
          <option name="enabledGetterMethod">
            <map>
              <entry key="debug" value="isDebugEnabled" />
            </map>
          </option>
          <option name="logMethod">
            <map>
              <entry key="debug" value="debug" />
              <entry key="info" value="info" />
              <entry key="warn" value="warn" />
              <entry key="error" value="error" />
            </map>
          </option>
          <option name="loggerClass" value="com.intellij.openapi.diagnostic.Logger" />
          <option name="loggerFactoryMethod" value="com.intellij.openapi.diagnostic.Logger.getInstance(&quot;#%s&quot;)" />
          <option name="name" value="Intellij-IDEA" />
        </LogFramework>
        <LogFramework>
          <option name="logMessageFormatType" value="custom" />
          <option name="logMessagesCanUsePlaceholders" value="true" />
          <option name="loggerClass" value="org.slf4j.XLogger" />
          <option name="loggerFactoryMethod" value="org.slf4j.XLoggerFactory.getXLogger(%s.class)" />
          <option name="name" value="slf4j-xlogger" />
          <option name="placeholderCustomFormat" value="\{\}" />
        </LogFramework>
        <LogFramework>
          <option name="defaultLoggerFieldName" value="LOG" />
          <option name="enabledGetterMethod">
            <map>
              <entry key="trace" value="isTraceEnabled" />
              <entry key="debug" value="isDebugEnabled" />
              <entry key="info" value="isInfoEnabled" />
            </map>
          </option>
          <option name="logMessageFormatType" value="printf" />
          <option name="logMessagesCanUsePlaceholders" value="true" />
          <option name="logMethod">
            <map>
              <entry key="trace" value="tracef" />
              <entry key="debug" value="debugf" />
              <entry key="info" value="infof" />
              <entry key="warn" value="warnf" />
              <entry key="error" value="errorf" />
            </map>
          </option>
          <option name="loggerClass" value="org.jboss.logging.BasicLogger" />
          <option name="loggerFactoryMethod" value="org.jboss.logging.Logger.getLogger(%s.class)" />
          <option name="name" value="jboss-logging-printf" />
          <option name="placeholdersCanBeUsedWithThrowables" value="true" />
        </LogFramework>
        <LogFramework>
          <option name="defaultLoggerFieldName" value="LOG" />
          <option name="enabledGetterMethod">
            <map>
              <entry key="trace" value="isTraceEnabled" />
              <entry key="debug" value="isDebugEnabled" />
              <entry key="info" value="isInfoEnabled" />
            </map>
          </option>
          <option name="logMessageFormatType" value="messageformat" />
          <option name="logMessagesCanUsePlaceholders" value="true" />
          <option name="logMethod">
            <map>
              <entry key="trace" value="tracev" />
              <entry key="debug" value="debugv" />
              <entry key="info" value="infov" />
              <entry key="warn" value="warnv" />
              <entry key="error" value="errorv" />
            </map>
          </option>
          <option name="loggerClass" value="org.jboss.logging.BasicLogger" />
          <option name="loggerFactoryMethod" value="org.jboss.logging.Logger.getLogger(%s.class)" />
          <option name="name" value="jboss-logging-mf" />
          <option name="placeholdersCanBeUsedWithThrowables" value="true" />
        </LogFramework>
        <LogFramework>
          <option name="enabledGetterMethod">
            <map>
              <entry key="trace" value="isTraceEnabled" />
              <entry key="debug" value="isDebugEnabled" />
              <entry key="info" value="isInfoEnabled" />
            </map>
          </option>
          <option name="loggerClass" value="org.apache.log4j.Logger" />
          <option name="loggerFactoryMethod" value="org.apache.log4j.Logger.getLogger(%s.class)" />
          <option name="name" value="log4j-1.2" />
        </LogFramework>
        <LogFramework>
          <option name="defaultLoggerFieldName" value="" />
          <option name="enabledGetterMethod">
            <map>
              <entry key="trace" value="isLoggable(&quot;MyTag&quot;, android.util.Log.VERBOSE)" />
              <entry key="debug" value="isLoggable(&quot;MyTag&quot;, android.util.Log.DEBUG)" />
              <entry key="info" value="isLoggable(&quot;MyTag&quot;, android.util.Log.INFO)" />
              <entry key="warn" value="isLoggable(&quot;MyTag&quot;, android.util.Log.WARN)" />
              <entry key="error" value="isLoggable(&quot;MyTag&quot;, android.util.Log.ERROR)" />
            </map>
          </option>
          <option name="logMethod">
            <map>
              <entry key="trace" value="v(&quot;MyTag&quot;, " />
              <entry key="debug" value="d(&quot;MyTag&quot;, " />
              <entry key="info" value="i(&quot;MyTag&quot;, " />
              <entry key="warn" value="w(&quot;MyTag&quot;, " />
              <entry key="error" value="e(&quot;MyTag&quot;, " />
            </map>
          </option>
          <option name="logMethodsAreStatic" value="true" />
          <option name="loggerClass" value="android.util.Log" />
          <option name="loggerFactoryMethod" value="" />
          <option name="name" value="android-util-log" />
        </LogFramework>
        <LogFramework>
          <option name="defaultLoggerFieldName" value="logger" />
          <option name="enabledGetterMethod">
            <map>
              <entry key="trace" value="isLoggable(java.util.logging.Level.FINER)" />
              <entry key="debug" value="isLoggable(java.util.logging.Level.FINE)" />
              <entry key="info" value="isLoggable(java.util.logging.Level.INFO)" />
              <entry key="warn" value="isLoggable(java.util.logging.Level.WARNING)" />
              <entry key="error" value="isLoggable(java.util.logging.Level.SEVERE)" />
            </map>
          </option>
          <option name="logMessageFormatType" value="messageformat" />
          <option name="logMessagesCanUsePlaceholders" value="true" />
          <option name="logMethod">
            <map>
              <entry key="trace" value="log(java.util.logging.Level.FINER, " />
              <entry key="debug" value="log(java.util.logging.Level.FINE, " />
              <entry key="info" value="log(java.util.logging.Level.INFO, " />
              <entry key="warn" value="log(java.util.logging.Level.WARNING, " />
              <entry key="error" value="log(java.util.logging.Level.SEVERE, " />
            </map>
          </option>
          <option name="loggerClass" value="java.util.logging.Logger" />
          <option name="loggerFactoryMethod" value="java.util.logging.Logger.getLogger(%s.class.getName())" />
          <option name="name" value="java-util-logging" />
          <option name="placeholdersCanBeUsedWithThrowables" value="true" />
        </LogFramework>
        <LogFramework>
          <option name="loggerClass" value="org.apache.commons.logging.Log" />
          <option name="loggerFactoryMethod" value="org.apache.commons.logging.LogFactory.getLog(%s.class)" />
          <option name="name" value="commons-log" />
        </LogFramework>
        <LogFramework>
          <option name="defaultLoggerFieldName" value="LOG" />
          <option name="enabledGetterMethod">
            <map>
              <entry key="debug" value="isDebugEnabled" />
            </map>
          </option>
          <option name="logMethod">
            <map>
              <entry key="debug" value="debug" />
              <entry key="info" value="info" />
              <entry key="warn" value="warn" />
              <entry key="error" value="error" />
            </map>
          </option>
          <option name="loggerClass" value="com.intellij.openapi.diagnostic.Logger" />
          <option name="loggerFactoryMethod" value="com.intellij.openapi.diagnostic.Logger.getInstance(&quot;#%s&quot;)" />
          <option name="name" value="Intellij-IDEA" />
        </LogFramework>
      </list>
    </option>
  </component>
</application>